/* 
    Created on : 02/10/2021
    Author     : Alberto Fernandez Ramirez
   
*/
/*test @import url(//db.onlinewebfonts.com/c/3a47f5f06b5484abfeee9eac90348a9c?family=Gotham);*/
@font-face {font-family: "Gotham-Medium";
            src: url("3a47f5f06b5484abfeee9eac90348a9c.eot"); /* IE9*/
            src: url("3a47f5f06b5484abfeee9eac90348a9c.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
                url("3a47f5f06b5484abfeee9eac90348a9c.woff2") format("woff2"), /* chrome、firefox */
                url("3a47f5f06b5484abfeee9eac90348a9c.woff") format("woff"), /* chrome、firefox */
                url("3a47f5f06b5484abfeee9eac90348a9c.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
                url("3a47f5f06b5484abfeee9eac90348a9c.svg#Gotham-Medium") format("svg"); /* iOS 4.1- */
}
*{
    box-sizing: border-box;
    margin: 0px; 
    padding: 0px;
}
body{
    font-family:calibri, arial, sans-serif;
    background-repeat:no-repeat;
    background-color:#EEEEEE;
}
/* IMAGENES */
.imagegithub{
    margin-right:5px;
    float: right;
    width: 43px;
    height: 43px;
}
.imageplay{
    margin-right: 3px;
    float: right;
    width: 40px;
    height: 40px;
}
.imagecodigo{
    margin-right: 3px;
    float: right;
    width: 34px;
    height: 34px;
}
.imageatras{
    margin-left:5px;
    float: left;
    width: 43px;
    height: 43px;
}
.cajaimagen{
    width: 33px;
    height: 43px;
}
/* FOOTER */
.piepagina{
    font-family: "Gotham-Medium";
    font-size: 14px;
    background-color:#DDDDDD;
    position: fixed;
    bottom: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    right: 0px;
    left: 0px;
}
.piepagina p{
    color:#33333D;
    text-align:center;
    margin-left: 31px;
}
.piepagina p:first-of-type{
    margin-top: 6px;
}